<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ecnu.petHospital.dao.CasePictureMapper">
    <!--<insert id="insertPicture">-->
        <!--insert into case_picture(case_id,url,describe,procedure) values (#{case_id},#{url},#{describe},#{procedure});-->
    <!--</insert>-->
</mapper>